$light-cyan: hsl(193, 38%, 86%);
$neon-blue: hsl(150, 100%, 66%);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);
$font-size: 28px;
$font-weight: 800;